/* Imports Montserrat as the default font with sans-serif as a backup, taken from googlefonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color: #003b49;
}

#title {
    text-transform: uppercase;
    font-weight: bolder;
    float: left;
}

/* sticky nav bar styling */
nav {
    float: right;
    font-size: 120%;
    padding: 1rem;
}

nav > a {
    text-decoration: none;
    padding-right: 10px;
}

nav a:hover {
    color: blue;
}

header {
    position: fixed;
    z-index: 2;
    background-color: red;
    width: 100%;
    border: solid 1px #003b49;
}

/* Footer styling */ 

footer {
    text-align: center;
    width: 100%;
    padding: 1em;
}

footer > a {
    text-decoration: none;
    padding: 0 1.5em;
    font-size: 1.5em;
    font-weight: bold;
}

footer a:hover {
    color: blue;
}